@font-face {
  font-family: 'Carrois Gothic SC', sans-serif;
}
h1 {
  text-align: center;
  font-size: 1.6em;
  padding-top: 6px;
  padding-bottom: 8px;
  font-weight: bold;  
}
label {
  display: inline;
}
body {
  font-family: 'Carrois Gothic SC', sans-serif;
  text-align: left;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 3em;
}
p {
  padding-left: .25em;
  padding-right: .25em;
  padding-top: 10px;
  padding-bottom: 25px;
  font-size: 1.1em;
}
legend {
  padding: 2px;
  border: 2px solid;
  font-size: 1.3em;
}
form {
  background-color: #FF69B4;
}
fieldset {
  padding: 25px;
  padding-left: .25em;
  padding-right: .25em;
  padding-bottom: 25px;
  border: 2px solid black;
  border-color: black;
}
@media screen and (max-width: 960px) {
  body {
    font-size: 0.833em;
    line-height: 1em;

  }

  form {
  background-color: #A9A9A9;
}

}